.btn-projects {
  background-color: #61dafb;
  border: 2px solid #61dafb;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.5s;
  margin: 25px 0;
  padding: 12px 10px;
  width: 150px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.btn-projects .btn-title {
  margin-left: 10px;
}

.btn-projects .btn-title,
.btn-projects .btn-icon {
  font-weight: bold;
  font-size: 16px;
  color: #0c0d0f;
}

.btn-projects:hover {
  background-color: #0c0d0f;
  color: #fff;
}

.btn-projects .btn-title:hover {
  color: #fff;
}
.btn-projects .btn-icon:hover {
  color: #fff;
}
